[submodule "PatchMatch"]
	path = PatchMatch
	url = ../PatchMatch.git
[submodule "PoissonEditing"]
	path = PoissonEditing
	url = ../PoissonEditing.git
[submodule "ITKVTKHelpers"]
	path = ITKVTKHelpers
	url = ../ITKVTKHelpers.git
[submodule "CMakeHelpers"]
	path = CMakeHelpers
	url = ../CMakeHelpers.git
